// Clearfix
@mixin clearfix {
  *zoom: 1;

  &::before,
  &::after {
    display: table;
    content: ' ';
  }

  &::after {
    clear: both;
  }
}

// Antialias text
@mixin antialias-text {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern';
  text-rendering: optimizeLegibility;
  font-synthesis: none;
}

// Media queries
@mixin media-min($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

@mixin media-max($size) {
  @media screen and (max-width: ($size - 1)) {
    @content;
  }
}

@mixin media-min-max($min, $max) {
  @media screen and (min-width: $min) and (max-width: ($max - 1)) {
    @content;
  }
}

// Flex Container
@mixin flex-container($flow: row wrap) {
  display: flex;
  flex-flow: $flow;
  box-sizing: border-box;
}


// hover/focus
@mixin hover-focus {
  &:hover,
  &:focus {
    @content;
  }
}

// Buttons
@mixin button-reset {
  display: inline-block;
  -webkit-appearance: none;
  background-color: transparent;
  border-color: transparent;
  user-select: none;
}

@mixin button-size($size) {
  @if $size == "lg" {
    padding: $padding-lg;
    font-size: $font-lg;
  } @else if $size == "sm" {
    padding: $padding-sm;
    font-size: $font-sm;
  } @else {
    padding: $padding-base;
    font-size: $font-base;
  }
}

@mixin button-base {
  font-family: $ff-sans;
  font-weight: 600 !important;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.05em;
}

@mixin button-icon {
  .icon {
    position: relative;
    top: 2px;
    width: 1em;
    height: 1em;
  }
}

@mixin button($background, $color, $size: "") {
  @include button-reset;
  @include button-size($size);
  @include button-base;
  background-color: $background;
  border: 1px solid transparent;
  color: $color;

  @include hover-focus {
    background-color: darken($background, 10);
    border: 1px solid transparent;
  }

  @include button-icon;
}

@mixin button-outline($border, $color, $hover-bg, $hover-color, $size: "") {
  @include button-reset;
  @include button-size($size);
  @include button-base;
  background-color: transparent;
  border: 1px solid $border;
  color: $color;

  @include hover-focus {
    background-color: $hover-bg;
    border: 1px solid transparent;
    color: $hover-color;
  }

  @include button-icon;

}

// Forms
@mixin form-input {
  padding: 0.5em;
  width: 100%;
  border: 1px solid $gray-light;

  &:active,
  &:focus {
    outline: $link-color auto 5px;
  }
}
