*,
*:before,
*:after {
  box-sizing: border-box;
}


html {
  font-size: $base-font-size;

  @include media-min($md) {
    font-size: ($base-font-size + 0.5);
  }

  @include media-min($lg) {
    font-size: ($base-font-size + 1);
  }
}

body,
input,
textarea,
select,
button {
  @include antialias-text;
}

body {
  margin: 0;
  color: $text-color;
  font-family: $base-font-family;
  font-size: 100%;
  line-height: $base-line-height;
}

a {
  display: inline-block;
  color: $link-color;
  text-decoration: none;
  transition: all 0.1s linear;
}

p, pre, table, ul {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

blockquote {
  margin: 1em 0 1.5em;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 1.05em;
  font-style: italic;
  position: relative;
  color: lighten($text-color, 30);

  p:first-child::before {
    content: '\201c ';
    position: absolute;
    left: 10px;
    line-height: 1;
    font-size: 36px;
  }
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1.15em
}

h6 {
  font-size: 1em;
}


h1, h2, h3 {
  line-height: 1.25;
  margin: 0.5em 0;
}

h4, h5, h6 {
  margin: 0 0 0.5em;
}

hr {
  margin-top: 1em;
  margin-bottom: 1em;
  border-top: 3px solid $gray-light;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

iframe {
  width: 100%;
}

button[disabled],
[type="button"][disabled] {
  opacity: 0.25;
}

// Text Utils
// --------------------------
.text {

  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }

  &-justify {
    text-align: justify;
  }

  &-highlight {
    background-color: yellow;
  }

  &-large {
    font-size: 1.15em;
  }

  &-small {
    font-size: 0.85em;
  }

  &-upper {
    text-transform: uppercase;
  }

}

// WordPress Core Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

.align {

  &left,
  &right,
  &none {
    display: block;
    margin: 0.25em;
  }

  &left {
    float: left;
  }

  &right {
    margin-right: 0;
    margin-left: 1em;
    float: right;
  }

  &center {
    margin: 0.25em auto;
  }

}


.wp-caption {
  max-width: 96%; // Image does not overflow the content area
  padding: 0.25em 0.25em 0.5em;
  border: 1px solid $gray-light;
  background: $white;
  text-align: center;

  img {
    width: auto;
    max-width: 98.5%;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0 none;
  }

  &-text {
    margin: 0;
    padding: 0.25em;
    font-size: 0.8em;
    line-height: 1.25;
  }
}


// Text meant only for screen readers.
.screen-reader-text,
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
