*,
*:before,
*:after {
  box-sizing: border-box;
}

html { @include fluid(font-size, $xs, $xl, $font-size-min, $font-size-max); }

body,
input,
textarea,
select,
button { @include antialias-text; }


body {
  color: $text-color;
  background-color: $white;
  font-family: $base-font-family;
  font-size: 100%;
  line-height: strip_unit($baseline);
}

a {
  color: $link-color;
  text-decoration: none;
  transition: all 0.1s linear;
}

p,
ul,
ol,
pre,
table,
blockquote { margin: 0 auto $baseline / 2;}

ul, ol {
  list-style-position: outside;
  margin-left: -2.15rem;

  & {
    margin-left: -1rem;
    margin-bottom: 0;
  }
}

blockquote {
  margin: 1em 0 1.5em;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 1.05em;
  font-style: italic;
  position: relative;
  color: lighten($text-color, 30);

  p:first-child::before {
    content: '\201c ';
    position: absolute;
    left: 10px;
    line-height: 1;
    font-size: 36px;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: $baseline;
  margin-bottom: $baseline / 3;
  font-weight: inherit;
  line-height: strip_unit($baseline * 0.75);
}

h4, .h4,
h5, .h5,
h6, .h6{
  margin-top: $baseline;
}

h1, .h1 { @include fluid(font-size, $xs, $xl, 1.602rem, 2.074rem); }
h2, .h2 { @include fluid(font-size, $xs, $xl, 1.424rem, 1.728rem); }
h3, .h3 { @include fluid(font-size, $xs, $xl, 1.266rem, 1.44rem); }
h4, .h4 { @include fluid(font-size, $xs, $xl, 1.125rem, 1.2rem); }
h5, .h5 { @include fluid(font-size, $xs, $xl, 1rem, 1rem); }
h6, .h6 { @include fluid(font-size, $xs, $xl, 0.889rem, 0.833rem); }

hr {
  margin-top: $baseline;
  margin-bottom: $baseline;
  border: 0;
  border-top: 2px solid $border-color;
}

iframe {
  width: 100%;
}

code {
  font-family: $ff-mono;
  font-size: 75%;
  padding: 0.25em 0;
  border-radius: 0.25em;

  p & {
    height: $baseline;
    color: #d14;

    &:before,
    &:after {
      letter-spacing: -0.05em;
      content: "\00a0";
    }
  }
}

blockquote {
  @include clearfix;
  padding-top: 1rem;
  position: relative;

  p {
    position: relative;
    font-size: 1.5rem;
    font-family: $ff-serif;
    font-style: italic;
    color: $blue;

    &:first-child {
      text-indent: -0.5rem;

      &:before { content: '\201C'; }
    }

    &:last-child:after { content:'\201D'; }
  }
}

iframe { width: 100%; }

button[disabled],
[type="button"][disabled] {
  opacity: 0.25;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
