// Brand colors
// -------------------------
$black:               #000;
$white:               #fff;

$gray:                lighten($black, 50);
$gray-light:          lighten($black, 85);
$gray-lighter:        lighten($black, 95);
$gray-dark:           lighten($black, 25);
$gray-darker:         lighten($black, 15);

$blue:                royalblue;

$text-color:          $gray-dark;
$link-color:          $blue;

// Typography
// -------------------------
$base-font-size:      16px;
$base-line-height:    1.625;


$ff-sans:            -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$ff-serif:            '';
$ff-alt:              '';

$base-font-family:    $ff-sans;


// Borders
// -------------------------
$border-width:        1px;


// Breakpoints
// -------------------------
$sm: 40em;
$md: 52em;
$lg: 64em;
