{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
    "jquery": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "constructor-super": "warn",
    "indent": ["error", 2],
    "no-const-assign": "warn",
    "no-this-before-super": "warn",
    "no-unreachable": "warn",
    "no-unused-vars": "warn",
    "valid-typeof": "warn"
  }
}
