// Clearfix
@mixin clearfix {
  *zoom: 1;

  &::before,
  &::after {
    display: table;
    content: ' ';
  }

  &::after {
    clear: both;
  }
}

// Antialias text
@mixin antialias-text {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern';
  text-rendering: optimizeLegibility;
  font-synthesis: none;
}

// Media queries
@mixin media-min($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

@mixin media-max($size) {
  @media screen and (max-width: ($size - 1)) {
    @content;
  }
}

@mixin media-min-max($min, $max) {
  @media screen and (min-width: $min) and (max-width: ($max - 1)) {
    @content;
  }
}

// Flex Container
@mixin flex-container($flow: row wrap) {
  display: flex;
  flex-flow: $flow;
  box-sizing: border-box;
}
