// Clearfix
@mixin clearfix {
  *zoom: 1;
  &::before, &::after {
    content: " ";
    display: table;
  }
  &::after {
    clear: both;
  }
}

// Antialias text
@mixin antialias-text() {
  font-synthesis: none;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern';
}

// Media queries
@mixin media-min($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

@mixin media-max($size) {
  @media screen and (max-width: ($size - 1)) {
    @content;
  }
}

@mixin media-min-max($min, $max) {
  @media screen and (min-width: $min) and (max-width: ($max - 1)) {
    @content;
  }
}

// Flex Container
@mixin flex-container( $flow: row wrap ) {
  box-sizing: border-box;
  display: flex;
  flex-flow: $flow;
}
