html {
  font-size: $base-font-size;

  @media screen and (min-width: 480px) {
    font-size: ($base-font-size + 0.5);
  }

  @media screen and (min-width: 768px) {
    font-size: ($base-font-size + 1);
  }
}

body,
input,
textarea,
select,
button {
  @include antialias-text;
}

body {
  color: $base-text-color;
  font-family: $base-font-family;
  font-size: 100%;
  line-height: $base-line-height;
}

a {
  color: $base-primary;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}


// Text Utils
// --------------------------
.text {

  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }

  &-justify {
    text-align: justify;
  }

  &-highlight {
    background-color: yellow;
  }

  &-large {
    font-size: 1.15em;
  }

  &-small {
    font-size: 0.85em;
  }

  &-upper {
    text-transform: uppercase;
  }

}

// WordPress Core Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

.align {

  &left,
  &right,
  &none {
    display: block;
    margin: 0.25em;
  }

  &left {
    float: left;
  }

  &right {
    margin-right: 0;
    margin-left: 1em;
    float: right;
  }

  &center {
    margin: 0.25em auto;
  }

}


.wp-caption {
  max-width: 96%; // Image does not overflow the content area
  padding: 0.25em 0.25em 0.5em;
  border: 1px solid $base-gray-light;
  background: $white;
  text-align: center;

  img {
    width: auto;
    max-width: 98.5%;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0 none;
  }

  &-text {
    margin: 0;
    padding: 0.25em;
    font-size: 0.8em;
    line-height: 1.25;
  }
}


// Text meant only for screen readers.
.screen-reader-text,
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);

  &:focus {
    display: block;
    top: 5px;
    left: 5px;
    width: auto;
    height: auto;
    padding: 15px 23px 14px;
    border-radius: 3px;
    background-color: $base-gray-light;
    color: $base-primary;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: normal;
    text-decoration: none;
    z-index: 100000; // Above WP toolbar.
    clip: auto;
  }
}
