// Buttons

$button-sizes: 'sm', 'lg';

// Font Sizes
$font-base: 0.9em;
$font-sm: 0.75em;
$font-lg: 1.1em;

// Padding Sizes
$padding-base: 0.75em 1.75em;
$padding-sm: 0.5em 1.5em;
$padding-lg: 1em 2em;

// Button Sizes
@each $size in $button-sizes {
  .button-#{$size} {
    @include button($link-color, $white, $size);
  }
}

.button {
  @include button($link-color, $white);
}

.button-outline {
  @include button-outline($link-color, $link-color, $link-color, $white);
}
