// header menu

.header-menu {

  .site-header & {
    display: none;
  }

  .nav {
    margin: 0;
  }

  .nav-link {
    display: block;
  }

  .active-item,
  .active-parent {
    .nav-link {
      font-weight: 600;
    }
  }

  // MMENU

  &.mm-menu {

    .nav-link {
      margin-bottom: 0.75em;
      color: $link-color;
      font-size: 1.1em;
      font-weight: 600;
    }
  }

  .mm-panels > .mm-panel {
    padding: 3.5em 2em 0;
  }

  &.mm-offcanvas {
    max-width: 320px;
  }

  &.mm-offcanvas.mm-right {
    transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  }

  .mm-navbar {
    padding: 1.5em 2em 0;
    height: auto;
    text-align: left;
    line-height: 1;
    border: 0;

    .mm-title {
      text-transform: uppercase;
    }
  }

  .mm-panels > .mm-panel:after,
  .mm-panels > .mm-panel:before {
    height: 1em;
  }

}


@include media-min($md) {

  .header-menu {

    .site-header & {
      display: block;
    }

    .nav {
      @include flex-container;
    }

    .nav-item {
      margin: 0 1em;
    }

    .nav-link {
      color: rgba($text-color, 0.85);
      padding-top: 1em;
      padding-bottom: 1em;

      @include hover-focus {
        color: $link-color;
      }
    }

    .active-parent,
    .active-item {
      position: relative;

      .nav-link {
        color: $link-color;

      }
    }
  }
}

// Header Menu Buttons

.header-menu-toggle {
  @include button-reset;
  color: rgba($link-color, 0.75);
  font-size: 1.75em;
  margin-top: 10px;
  margin-bottom: 10px;

  @include hover-focus {
    color: $link-color !important;
  }
}

.header-menu-close {
  @include button-reset;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  width: 24px;
  line-height: 0.75;
  margin: 0.5em;
  font-size: 2.5em;
  font-weight: 300;
  color: rgba($text-color, 0.45);
  border: 0;

}

.header-menu-toggle,
.header-menu-close {

  @include media-min($md) {
    display: none;
  }

  @include hover-focus {
    color: $text-color;
    outline: 0;
    cursor: pointer;
  }
}
