// Forms

@mixin input-reset {
  -webkit-appearance: none;
  width: 100%;
  border: 1px solid $border-color;
}

@mixin form-input {
  @include input-reset;
  font-family: $ff-sans;
  font-size: 1rem;
  padding: 0.5rem;


  &:active,
  &:focus {
    border-color: $blue;
    outline: 0;
    box-shadow: 0 3px 3px rgba($blue, 0.1);
  }
}

.form {

  input[type='text'],
  input[type='email'],
  input[type='tel'],
  input[type='password'],
  input[type='url'],
  textarea {
    @include form-input;
  }

  input[type="submit"] {
    @include button($link-color);
  }
}

// Search Form
.form-search {
  position: relative;

  .form-input {
    width: 100%;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    font-family: $ff-sans;
    font-size: 1.1em;
    border: 1px solid $gray-light;
  }

  .form-submit {
    @include button-reset;
    position: absolute;
    top: 8px;
    right: 3px;
  }

  .icon-search {
    width: 24px;
    height: 24px;
    color: $blue;
  }
}

// Comment Form
.form-comment {
  padding: 1.5rem;
  background-color: $gray-lighter;
}
