html { @include fluid(font-size, $xs, $xl, $font-size-min, $font-size-max); }

body,
input,
textarea,
select,
button { @include antialias-text; }

body {
  font-family: $base-font-family;
  font-size: 100%;
  line-height: strip_unit($baseline);
  color: $text-color;
}

a {
  color: $link-color;
  text-decoration: none;
  background-color: transparent;
  transition: all 0.1s linear;
  -webkit-text-decoration-skip: objects;
}

p,
ul,
ol,
pre,
table,
blockquote { margin: 0 auto $baseline / 2;}

ul,
ol {
  list-style-position: outside;

  li {
    margin-bottom: 0;
    margin-left: -1rem;
  }
}

blockquote {
  position: relative;
  padding-right: 2rem;
  padding-left: 2rem;
  margin: 1rem 0 1.5rem;
  font-size: 1.05rem;
  color: lighten($text-color, 30);

  p:first-child::before {
    position: absolute;
    left: 0.75rem;
    font-size: 2.25rem;
    line-height: 1;
    content: "\201c ";
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: $baseline;
  margin-bottom: $baseline / 3;
  font-weight: inherit;
  line-height: strip_unit($baseline * 0.75);
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: $baseline;
}

h1,
.h1 { @include fluid(font-size, $xs, $xl, 1.602rem, 2.074rem); }

h2,
.h2 { @include fluid(font-size, $xs, $xl, 1.424rem, 1.728rem); }

h3,
.h3 { @include fluid(font-size, $xs, $xl, 1.266rem, 1.44rem); }

h4,
.h4 { @include fluid(font-size, $xs, $xl, 1.125rem, 1.2rem); }

h5,
.h5 { @include fluid(font-size, $xs, $xl, 1rem, 1rem); }

h6,
.h6 { @include fluid(font-size, $xs, $xl, 0.889rem, 0.833rem); }

hr {
  margin-top: $baseline;
  margin-bottom: $baseline;
  border: 0;
  border-top: 2px solid $border-color;
}

code {
  padding: 0.25rem 0;
  font-family: $ff-mono;
  font-size: 75%;
  border-radius: 0.25rem;

  p & {
    height: $baseline;
    color: #d14;

    &::before,
    &::after {
      letter-spacing: -0.05rem;
      content: "\00a0";
    }
  }
}

abbr[title] {
  text-decoration: underline dotted;
  border-bottom: 0;
}
