// Page

// Theme
html {
  // background-color: $gray-lighter;
}

body {
  // background-color: $white;
}

// Containers
.container {
  max-width: $xl;
  padding-right: $grid-gutter-default;
  padding-left: $grid-gutter-default;
  margin-right: auto;
  margin-left: auto;
}

.main {

  .content {
    @include grid-col($col: 8, $gutter: $grid-gutter-default);
  }

  .sidebar {
    @include grid-col($col: 4, $gutter: $grid-gutter-default);
  }

}
